<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>
    <h1>This is the cart and it's empty</h1>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <%- include('../includes/end.ejs') %>